@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web PDF</h1>
    <p class="lead">PDF, News and Events Management</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Web PDF</h2>
        <p>Web PDF its a platform to upload and distribute pdfs throw out distinct users. As a user you can apply to events and see news folder.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from the GitHub Repository.</p>
        <p><a class="btn btn-default" href="https://github.com/RicardoVarzim/WebPDF">Download &raquo;</a></p>
    </div>
</div>